#contact #contact-content {
    
    
    @media #{$small-only} {
        min-height: 560px;
    }

    @media #{$medium-up} {
        min-height: 820px;
    }
    
    .section-title-graphic {
        background: url("../image/title/contact.svg") no-repeat 50% 50%;
        background-size: contain;
        
        @media #{$small-only} {
            height: rem_calc(56);
        }

        @media #{$medium-up} {
            height: rem_calc(96);
        }
    }

    .contact-social {

        border-width: 2px;
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    .icon {
        display: block;
        width: 36px;
        height: 34px;
    }

    .icon.icon-facebook {
        background: url("../image/icon/icon-facebook-blackbg.svg") no-repeat 0px 0px;
        background-size: 100%;
    }

    .icon.icon-pinterest {
        background: url("../image/icon/icon-pinterest-blackbg.svg") no-repeat 0px 0px;
        background-size: 100%;
    }
    .icon.icon-phone {
        @media #{$small-only} {
            margin-bottom: $layout-padding-medium;
        }
        margin-right: $layout-padding-medium;
        float: left;
        background: url("../image/icon/icon-phone-blackbd.svg") no-repeat 50% 50%;
        background-size: 100%;
    }

    .icon.icon-mail {
        margin-right: $layout-padding-medium;
        float: left;
        background: url("../image/icon/icon-email-blackbd.svg") no-repeat 50% 50%;
        background-size: 100%;
    }

}

#contact footer {
    #copyright {
        font-size: rem_calc(12);
        text-align: center;
        margin-top: $layout-margin-tb-inner-small;
    }
}


