footer #footer-contact {
    padding-top: $layout-padding-small*2;
    padding-bottom: $layout-padding-small*2;
    .section-title {
        margin-bottom: 0px;
    }

    .button.reverse {
        background-color: $body-font-color;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        color: white;
        
        &:hover {
            background-color: $body-font-color;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            color: white;
        }
    }
}

footer #footer-ending {
    background: $body-font-color;
    padding-top: 16px;
    padding-bottom: 0px;
    text-align: center;

    #ending-index{
        display: inline-block;
    }

    #ending-logo{
        display: block;
        background: url("../image/logo/logo-white.svg") no-repeat 50% 50%;
        background-size: 100%;
        width: 80px;
        height: 60px;
        float: left;
    }

    #ending-copyright{
        margin-top: 4px;
        text-align: left;
        float: left;
        margin-left: 12px;
        color: white;
    }
    


}