// Variables
$layout-margin-tb-small: 48px;
$layout-margin-tb-medium: 72px;
$layout-margin-tb-inner-small: $layout-margin-tb-small/1.5;
$layout-margin-tb-inner-medium: $layout-margin-tb-medium/1.5;

$layout-padding-small: 12px;
$layout-padding-medium: 24px;

$z-index-priority-1: 9999;
$z-index-priority-2: 999;
$z-index-priority-3: 99;

$button-hover-color: scale-color($primary-color, $lightness: $button-function-factor);


// Functions
@mixin all-transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin all-transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}


// Custom layouts
.section-frame {
    @media #{$small-only} {
        padding: $layout-margin-tb-small 0px;
    }

    @media #{$medium-up} {
        padding: $layout-margin-tb-medium 0px;
    }

    .section-title {
        text-align: center;
        margin-bottom: $layout-margin-tb-inner-small;
    }
}

.single-col-wrapper, .multi-col-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.single-col-wrapper {
    max-width: 800px;
}

.multi-col-wrapper {
    max-width: 1480px;
}

.has-mg-b {
    @media #{$small-only} {
        margin-bottom: $layout-margin-tb-inner-small;
    }

    @media #{$medium-up} {
        margin-bottom: $layout-margin-tb-inner-medium;
    }
}

.has-pd-lr {
    @media #{$small-only} {
        padding: 0px $layout-padding-small;
    }

    @media #{$medium-up} {
        padding: 0px $layout-padding-medium;
    }
}

.align-center {
    text-align: center;
}


// Custom UI
.border-section {
    display: block;
    width: 100%;
    height: 41px;
}

.border-white-white {
    @media #{$small-only} {
        background: url("../images/border/border-white-white-small.svg") no-repeat 50% 50%;
    }
    @media #{$medium-up} {
        background: url("../images/border/border-white-white.svg") no-repeat 50% 50%;
    }
}

.border-white-green {
    height: 55px;
    
    @media #{$small-only} {
        background: url("../images/border/border-white-green-small.svg") no-repeat 50% 50%;
    }
    @media #{$medium-up} {
        background: url("../images/border/border-white-green.svg") no-repeat 50% 50%;
    }
}

.border-green-black {
    height: 36px;
    
    @media #{$small-only} {
        background: url("../images/border/border-green-black-small.svg") no-repeat 50% 50%;
    }
    @media #{$medium-up} {
        background: url("../images/border/border-green-black.svg") no-repeat 50% 50%;
    }
}


// Overwrite UI
.button {
    @include all-transition(all 0.3s ease-out);
}

.button:hover {
    color: $button-hover-color;
    border-color: $button-hover-color;
}



