#index #landing {
    min-height: 680px;
    padding-top: 0px;
    padding-bottom: 0px;
    
    #landing-graphic {
        display: block;
        width: 100%;
        
        @media #{$medium-up} {
            background: url("../image/bg/landing.png") no-repeat 50% 50%;
            background-size: contain;
            min-height: 640px;
        }
    }
}


#index #about {
    .section-title-graphic {
        background: url("../image/title/about-us.svg") no-repeat 50% 50%;
        background-size: 100% 100%;
    }
    
    #about-description {
        @media #{$small-only} {
            margin-bottom: $layout-margin-tb-inner-small;
        }
    
        @media #{$medium-up} {
            min-height: 240px;
            margin-bottom: $layout-margin-tb-inner-medium;
        }
    }

    #about-details {
        img {
            width: 100%;
        }
        
        .about-detail-graphic {
            width: 100%;
            
            @media #{$small-only} {
                margin-bottom: $paragraph-margin-bottom;
            }
        }

        .about-detail-text {
            @media #{$large-up} {
                margin-top: $layout-padding-medium;
            }
        }
    }
}


#index #sltd-works {
    #sltd-works-list {
        list-style-type: none;
        
        .sltd-work-figure {
            margin-bottom: $paragraph-margin-bottom;
        }
    }
}


#index #blog {
    #blog-posts-list {
        .blog-post-cvimg {
            width: 100%;
            
            @media #{$small-only} {
                margin-bottom: $paragraph-margin-bottom;
            }
        }
    
        .blog-post-text {
            @media #{$large-up} {
                margin-top: $layout-padding-medium;
            }
        }
    }
}


