#index #landing {
    min-height: 680px;
    padding-top: 0px;
    padding-bottom: 0px;
    
    #landing-graphic {
        display: block;
        width: 100%;
        
        @media #{$medium-up} {
            background: url("../images/bg/landing.png") no-repeat 50% 50%;
            background-size: contain;
            min-height: 640px;
        }
    }
}


#index #about {
    #about-description {
        @media #{$small-only} {
            margin-bottom: $layout-margin-tb-inner-small;
        }
    
        @media #{$medium-up} {
            min-height: 240px;
            margin-bottom: $layout-margin-tb-inner-medium;
        }
    }

    #about-details {
        img {
            width: 100%;
        }
        
        .about-detail-graphic {
            background: #A9A9A9;
            display: block;
            width: 100%;
            
            @media #{$small-only} {
                height: 240px;
                margin-bottom: $paragraph-margin-bottom;
            }
        
            @media #{$medium-up} {
                height: 320px;
            }

            @media #{$large-up} {
                height: 400px;
            }
        }

        .about-detail-text {
            @media #{$medium-up} {
                margin-top: $layout-padding-medium;
            }
        }

        .about-detail-title {
            @media #{$small-only} {
                text-align: center;
            }
        }
    }
}


#index #sltd-works {
    #sltd-works-list {
        list-style-type: none;
        
        li {
            text-align: center;
        }
    }
}


#index #blog {
    #blog-posts {
        .blog-post-cvimg {
            width: 100%;
            
            @media #{$small-only} {
                margin-bottom: $paragraph-margin-bottom;
            }
        }
    
        .blog-post-text {
            @media #{$large-up} {
                margin-top: $layout-padding-medium;
            }
        }
    }
}


