
#index #index-landing {
    display: block;
    padding: 16px 0px;
    position: relative;
    max-height: 1100px;


    #landing-graphic {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        max-width: 1920px;
        margin: auto;
        @media #{$medium-up} {
            background: url("../image/index/landing-medium-up.png") no-repeat 50% 0px;
            background-size: contain;
            height: 0;
            padding-top: 56.25%;    
        }

        @media #{$small-only} {
            background: url("../image/index/landing-small.png") no-repeat 50% 0px;
            background-size: contain;
            height: 0;
            padding-top: 56.25%;
        
        }

        
    }

    #index-title{
        @media #{$medium-up} {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -30%);
            max-width: 1920px;
            margin: auto;
        }

        @media #{$small-only}{

            margin: auto;
        }
    }

    #landing-title {
        @media #{$medium-up} {
            background: url("../image/title/kiwilauncher-medium.svg") no-repeat 0 0;
            background-size: contain;
            width: 100%;
            padding-top: 24.65%;
            margin-bottom: $layout-padding-small*2;
        }
        @media #{$small-only}{
            background: url("../image/title/kiwilauncher-small.svg") no-repeat center;
            background-size: contain;
            width: 100%;
            height: 90px;
            margin-bottom: $layout-padding-small*2;
        }
    }
    #title-text{
        @media #{$small-only}{
            text-align: center;
        }
        .title-desc{
            margin-bottom: $layout-padding-small*2;
        }
    }

}

#index #index-about {
    #about-intro {
        @media #{$medium-up} {
            background: url("../image/index/about-bg.svg") no-repeat 50% 0px;
            background-size: contain;
        }
    }
    
    .section-title-graphic {
        background: url("../image/title/about-us.svg") no-repeat 50% 50%;
        background-size: contain;
        
        @media #{$small-only} {
            height: rem_calc(56);
        }

        @media #{$medium-up} {
            height: rem_calc(96);
        }
    }
    
    #about-description {
        @media #{$small-only} {
            margin-bottom: $layout-margin-tb-inner-small;
        }
    
        @media #{$medium-up} {
            min-height: 200px;
            margin-bottom: $layout-margin-tb-inner-medium;
        }
    }

    #about-details {
        img {
            width: 100%;
        }
        
        .about-detail-graphic {
            width: 100%;
            
            @media #{$small-only} {
                margin-bottom: $paragraph-margin-bottom;
            }
        }

        .about-detail-text {
            @media #{$large-up} {
                margin-top: $layout-padding-medium * 2;
            }
        }
    }
}


#index #index-sltd-works {
    padding:0;
    .section-title-graphic {
        @media #{$small-only} {
            background: url("../image/title/selected-works-small.svg") no-repeat 50% 50%;
            background-size: contain;
            height: rem_calc(94);
        }

        @media #{$medium-up} {
            background: url("../image/title/selected-works-medium.svg") no-repeat 50% 50%;
            background-size: contain;
            height: rem_calc(168);
        }
    }
    
    #sltd-works-list {
        list-style-type: none;

        li {
            @media #{$small-only} {
                width:49%;
            }
            @media #{$medium-up} {
                width:24%;
            }
            display:inline-block;

        }
        
        .sltd-work-figure {
            margin-bottom: $paragraph-margin-bottom;
        }
    }
}


#index #index-blog {
    .section-title-graphic {
        @media #{$small-only} {
            background: url("../image/title/from-our-blog-small.svg") no-repeat 50% 50%;
            background-size: contain;
            height: rem_calc(94);
        }

        @media #{$medium-up} {
            background: url("../image/title/from-our-blog-medium.svg") no-repeat 50% 50%;
            background-size: contain;
            height: rem_calc(168);
        }
    }
    
    #blog-posts-list {
        list-style-type: none;
        
        .blog-post-cvimg {
            width: 100%;
            
            @media #{$small-only} {
                margin-bottom: $paragraph-margin-bottom;
            }
        }
    
        .blog-post-text {
            @media #{$large-up} {
                margin-top: $layout-padding-medium;
            }
        }
    }
}


