#menu-toggle.menu-open {
    display: block;
    position: fixed;
    
    z-index: $z-index-priority-1;
    
    @media #{$small-only} {
        background: $primary-color;
        top: 12px;
        right: 12px;
        width: 36px;
        height: 36px;
    }

    @media #{$medium-up} {
        background: $primary-color;
        top: 12px;
        right: 12px;
        width: 100px;
        height: 36px;
    }
}


#menu {
    background: #BBB;
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    min-height: 100%;
    z-index: $z-index-priority-2;
    
    @media #{$small-only} {
        width: 100%;
    }

    @media #{$medium-up} {
        width: 340px;
    }
}