#menu-toggle {
    background: white;
    border-color: $primary-color;
    border-style: solid;
    border-width: 3px;
    display: block;
    position: fixed;
    z-index: $z-index-priority-1;
    
    @media #{$small-only} {
        top: 12px;
        right: 12px;
        width: 36px;
        height: 36px;
    }

    @media #{$medium-up} {
        top: 12px;
        right: 12px;
        height: 42px;
        padding: 4px;
    }

    #menu-toggle-icon {
        background: url("../images/icon/menu-open.svg") no-repeat 0px 0px;
        background-size: 100%;
        display: inline-block;
        width: 32px;
        height: 28px;
    }

    #menu-toggle-text {
        font-size: rem_calc(20);
        line-height: 1.35;
        display: inline-block;
        vertical-align: top;
    }
}

#menu-toggle[data-fn="open"] {
    
}

#menu-toggle[data-fn="close"] {
    
}


#menu-back-cover {
    background-color: rgba(white, 0.85);
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: $z-index-priority-3;
}

#menu-back-cover.opened {
    opacity: 1;
}


#menu {
    background-color: white;
    border-left: 1px solid $secondary-color;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    z-index: $z-index-priority-2;
    @include all-transform(translateX(110%));
    
    @media #{$small-only} {
        width: 100%;
    }

    @media #{$medium-up} {
        width: 370px;
    }

    ul {
        display: block;
        list-style-type: none;
        margin: 0px;
        padding-top: 80px;
        
        li {
            display: block;
            
            .menu-item-link {
                display: block;
                padding: 24px 0px 0px 56px;
            }
            
            .menu-item-title {
                color: $primary-color;
                display: inline-block;
            }
            
            .border-menu-hr[data-dir="left"] {
                background: url("../images/border/border-menu-lightgrey-left.svg") no-repeat 50% 50%;
                height: 12px;
            }

            .border-menu-hr[data-dir="right"] {
                background: url("../images/border/border-menu-lightgrey-right.svg") no-repeat 50% 50%;
                height: 12px;
            }

        }
    }

    ul li:not(.active) {
        .menu-item-link {
            color: $body-font-color;
        }
    }

    ul li.active {
        .border-menu-hr[data-dir="left"] {
            background: url("../images/border/border-menu-green-left.svg") no-repeat 50% 50%;
            height: 12px;
        }

        .border-menu-hr[data-dir="right"] {
            background: url("../images/border/border-menu-green-right.svg") no-repeat 50% 50%;
            height: 12px;
        }
    }
}

#menu.opened {
    @include all-transform(translateX(0%));
}


