$process-circuit-width-small: 20px;
$process-circuit-width-medium: 56px;
$process-circuit-border-width-small: 2px;
$process-circuit-border-width-medium: 4px;
$process-circuit-margin-small: 108px;
$process-circuit-margin-medium: 200px;

#skills-and-process #skills {
    .skill {
        text-align: center;
        margin-bottom: $layout-margin-tb-small/2;
        
        img {
            width: 100%;
            max-width: 160px;
            margin-bottom: $layout-margin-tb-small/4;
        }
    }
}

#skills-and-process #process {
    .process-circuit {
        @media #{$small-only} {
            width: $process-circuit-width-small;
        }
    
        @media #{$medium-up} {
            width: $process-circuit-width-medium;
        }
        
        .process-circuit-line {
            @media #{$small-only} {
                width: $process-circuit-border-width-small;
            }

            @media #{$medium-up} {
                width: $process-circuit-border-width-medium;
            }
        }
        
        .process-circuit-dot {
            @media #{$small-only} {
                border-width: $process-circuit-border-width-small;
                top: $process-circuit-margin-small - 8;
                width: 12px;
                height: 12px;
            }

            @media #{$medium-up} {
                border-width: $process-circuit-border-width-medium;
                top: $process-circuit-margin-medium - 8;
                width: 24px;
                height: 24px;
            }
        }
    }

    .process-circuit.first {
        .process-circuit-line {
            @media #{$small-only} {
                margin-top: $process-circuit-margin-small;
            }

            @media #{$medium-up} {
                margin-top: $process-circuit-margin-medium;
            }
        }
    }

    .process-circuit.last {
        .process-circuit-line {
            @media #{$small-only} {
                height: $process-circuit-margin-small;
            }

            @media #{$medium-up} {
                height: $process-circuit-margin-medium;
            }
        }
    }
    
    .process-detail {
        @media #{$small-only} {
            margin-left: $process-circuit-width-small+12;
        }
    
        @media #{$medium-up} {
            margin-left: $process-circuit-width-medium;
        }
    }
}




