#works #works-content.section-frame {
    @media #{$menu-small-range} {
        padding-top: 56px;
    }
    
    @media #{$menu-medium-range} {
        padding-top: 64px;
    }
}

#works #works-list {
    .work-figure {
        margin-bottom: $paragraph-margin-bottom;
    }
}

.drseoul-img{
    border:solid;
    border-color:#304a8e;
    border-width:5px;
}
